{% extends "base.html" %}
{% block content %}

<div class="person_profile">

<h2>Mary Hutchinson</h2>

<p>Mary Hutchinson (neé Barnes, 1889-1977) was a notable British hostess and patron of the arts. Born in India, Mary Hutchinson spent much of her childhood in Italy where she was raised by grandparents. Following school in England, through her cousins Lytton Strachey and Duncan Grant, she made an early connection with the Bloomsbury group. In 1910, she married St. John Hutchinson (1884-1942), a leading barrister who shared her love of art and society. She had lifetime associations with prominent intellectuals, artists and writers, including Clive Bell, Virginia Woolf, George Moore, T. S. Eliot, Aldous Huxley, Henri Matisse, and SB, to whose work she was introduced by Georges Duthuit, at whose suggestion she read <em>Molloy</em> and became fascinated by SB’s work.<p>

<p>Hutchinson published only a single volume of her own short stories and essays, <em>Fugitive Pieces</em> (1927), but she was a champion of the arts and artists. She launched the literary journal <em>X</em> (November 1959-July 1962), with David Wright (1920-1994), to draw attention to international avant-gardeartists and writers; SB contributed work of his own and suggested to Hutchinson that she consider that of such emerging writers as Robert Pinget and Aidan Higgins. She was a friend of George Devine and Jocelyn Herbert, and promoted SB’s plays at the Royal Court Theatre where Devine was producer. In 1955, SB and Hutchinson began a correspondence which continued to her death and which focused on the progress of SB’s writing, translations, and productions, but often contained thoughts on the larger art scene in Europe as well as news of common friends. She was watching a television production of <em>Ghost Trio</em> when she died.</p>

</div>

{% endblock %}