{% extends "base.html" %}
{% block content %}

<div class="person_profile">

<h1>Goddard Lieberson</h1>

<p>Goddard Lieberson (1911-1977), President of Columbia Records, moved with his family from England to New York in 1915. Lieberson’s early ambition was to be a pianist and a composer; he attended the University of Washington and the Eastman School of Music. He taught and composed music before joining Columbia Records in 1939 as a studio recording director. His early success and quick rise in the company were marked by his support of Peter Goldberg in the development of the first 33 rpm long-playing record, which led to a dramatic rise in popular music production. He became Executive Vice President in 1949 and President of Columbia Records in 1956. Under his leadership, Columbia records expanded its catalog to include country and pop music, as well as show albums such as <em>My Fair Lady</em>.</p>

<p>Beginning in 1949, Lieberson recorded classical and modern drama, as well as readings by American and British writers. In 1956, Lieberson recorded the Broadway production of <em>Waiting for Godot</em>, and wrote to SB requesting an introduction for the record. SB met Lieberson and his wife Brigitta in Paris in August 1956, and their correspondence continued over the years as they exchanged books and recordings. Lieberson took Igor Stravinsky to see the 1957 New York production of <em>Waiting for Godot</em>, and he set up meetings between SB and the composer in Paris in 1962.</p>
</div>

{% endblock %}