{% extends "base.html" %}
{% block content %}

<div class="person_profile">

<h1>Matti Megged</h1>
  
<p>Matti Megged (1923-2003) was born in Poland; his family moved to Israel when he was a child. Megged changed the spelling of his family name to differentiate his work from that his brother Aharon Meged (b. 1920). In 1962, Megged wrote a novel in English, which remained unpublished. Megged later translated <em>Endgame</em> and <em>Happy Days</em> into Hebrew, and wrote <em>Dialogue in the Void: Beckett and Giacometti</em> (New York: Lumen Press, 1985). In 1960, Judith Schmidt introduced him to SB, in whom Megged found a sympathetic sounding board. 
</p>

<img class="img-responsive" src="/static/matti_megged.jpg" alt="Matti Megged"/>

</div>

{% endblock %}