{% extends "base.html" %}
{% block content %}

<div class="person_profile">

<h1>Barney Rosset</h1>
<p>Barney Rosset (b. 1922) bought Grove Press in 1952, and shortly afterwards, on the advice of Wallace Fowlie, his Professor at the New School for Social Research in New York, acquired the North American theatrical and publishing rights to SB’s work. Grove published <em>Waiting for Godot</em> in 1954, two years before the play’s first production in New York. Rosset remained SB’s American publisher and theatrical agent in the US and North America until 1985. Grove Press published the journal <em>Evergreen Review</em>, in which many of SB’s prose writings were published. SB’s last work, <em>Stirrings Still</em>, was written for Barney Rosset.</p>

<p>Rosset was a champion of the First Amendment in the United States. He took on the challenge of anti-obscenity charges by publishing D. H. Lawrence’s novel <em>Lady Chatterley’s Lover</em> in 1959, and won. Rosset won another highly publicized censorship case over publication of Henry Miller’s <em>Tropic of Cancer</em> a few years later. Having begun his career in film, Rosset in 1964 commissioned scripts from Eugène Ionesco, Harold Pinter, Marguerite Duras, and Alain Robbe-Grillet; SB’s script <em>Film</em> was the only one that was produced. SB came to New York for the shooting - his only visit to the United States.</p>

<p>In 1985, Rosset sold Grove Press to Weidenfeld and Getty; Rosset remained for thirteen months as Chief Executive Officer of Grove Press within the larger firm. Afterwards, Rosset started two imprints, Rosset & Co. and Blue Moon Books Inc. In 1988, he was awarded the Publishers’ Citation by the PEN American Center, (for “distinctive and continuous service to international letters and to the free transmission of the printed word across barriers of ignorance, censorship and repression”) and, in 2008, the Literarian Award for Outstanding Service to the American Literary Community by the National Book Foundation.</p>
</div>

{% endblock %}