{% extends "base.html" %}
{% block content %}

<div class="person_profile">

<h2>Alan Schneider</h2>
<p>Alan Schneider (1917-1984), born in Kharkov, Russia, worked primarily in the United States and is best known for interpreting SB’s plays. Appointed as director of the American premiere of <em>Waiting for Godot</em> by Michael Myerberg, Schneider went to Paris in 1955 to meet SB and to discuss the play. The two men attended the London production several times together. Close consultation with SB was essential to Schneider’s preparation for each of the plays in SB’s dramatic oeuvre. Together, he and SB went to the premiere of <em>Comédie</em> directed by Deryk Mendel in Ulm; they worked closely through each step of the production of SB’s <em>Film</em> (1964), the first venture for each of them in cinema. When they could not meet to prepare a production, the two exchanged highly detailed letters filled with Schneider’s questions and SB’s suggestions (published in <em>No Author Better Served</em>, 1998).</p>

<p>Although billed as “The laugh sensation of two continents,” Schneider’s production of <em>Waiting for Godot</em> in Miami at the Coconut Grove Playhouse was a commercial flop. Its poor reception cost Schneider his position as director when the play opened on Broadway, but the failure led to a close bond between him and SB. Schneider went on to direct all of SB’s work for the stage in the United States, as well as Film. He directed the world premiere of <em>Happy Days</em> at the Cherry Lane Theatre, New York, in 1961. He also brought <em>Waiting for Godot</em>, <em>Act without Words II</em>, and <em>Eh Joe</em> to television.</p>

<p>Schneider directed the plays of Harold Pinter, Edward Albee, and Joe Orton. He taught directing at The Julliard School in New York, at Stanford University, and was Professor of Drama at the University of California, San Diego. While directing a play in London, Schneider died after being struck by a motorcycle as he crossed the road to post a letter to SB.</p>
</div>

{% endblock %}