{% extends "base.html" %}
{% block content %}

<h1>Chronology</h1>

<table class="table table-bordered">
  <tr>
    <td><strong>1960</strong></td>
    <td>4 January</td>
    <td>Death of Albert Camus.</td>
  </tr>
  <tr>
    <td></td>
    <td>After 5 January</td>
    <td>Publication of <em>La dernière bande, suivi de Cendres</em> by Editions de Minuit </td>
  </tr>
  <tr>
    <td></td>
    <td>14 January</td>
    <td><em>Krapp’s Last Tape</em> opens at the Provincetown Playhouse, New York, directed by Alan Schneider.</td>
  </tr>
  <tr>
    <td></td>
    <td>24 January - 1 February</td>
    <td>Insurrection in Algiers, known as “La semaine des barricades.”</td>
  </tr>
  <tr>
    <td></td>
    <td>2-3 February</td>
    <td>The French Government takes on emergency powers to deal with the worsening situation in Algeria.</td>
  </tr>
  <tr>
    <td></td>
    <td>27 March</td>
    <td>Générale of <em>La dernière bande</em>, directed by Blin, and <em>Lettre morte</em>, directed by Martin, Théâtre Récamier</td>
  </tr>
  <tr>
    <td></td>
    <td>29 March</td>
    <td>SB refuses a commission by R.B.D. French to write a play to benefit the Library, Trinity College Dublin. </td>
  </tr>
    <tr>
    <td></td>
    <td>30 March</td>
    <td>SB’s tribute to Sean O’Casey published in <em>The Irish Times</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>31 March</td>
    <td><em>Molloy</em>, <em>Malone Dies</em>, and <em>The Unnamable</em> published by John Calder in a single volume as <em>Three Novels</em>.</td>
  </tr>
    <tr>
    <td></td>
    <td>27 April</td>
    <td>The BBC Third Programme broadcasts <em>Waiting For Godot</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>7 May</td>
    <td>SB lifts his embargo on production of his work in Ireland. </td>
  </tr>
    <tr>
    <td></td>
    <td>8 June</td>
    <td>Attends Berliner Ensemble production of Brecht’s <em>Die Mutter</em>, Sarah Bernhardt Theatre, Paris; leaves at first opportunity.</td>
  </tr>
  <tr>
    <td></td>
    <td>before 15 June</td>
    <td>Calder’s edition of <em>Three Novels</em> is seized from Hanna’s bookstore in Dublin, under Irish Government order.</td>
  </tr>
    <tr>
    <td></td>
    <td>17 June</td>
    <td>SB attends, with Alan Schneider in Paris, the Berliner Ensemble production of Brecht’s <em>Galileo</em>. </td>
  </tr>
  <tr>
    <td></td>
    <td>6 July</td>
    <td>Attends a run-through of Cyril Cusack’s production of <em>Krapp’s Last Tape</em> for the Théâtre des Nations, Paris.</td>
  </tr>
    <tr>
    <td></td>
    <td>2 August</td>
    <td>Completes revision and typing of his new work, which becomes <em>Comment c’est</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>8 August</td>
    <td>Dates a draft of what becomes <em>Happy Days</em>.</td>
  </tr>
    <tr>
    <td></td>
    <td>18 August</td>
    <td>Writes his first letter to Harold Pinter.</td>
  </tr>
  <tr>
    <td></td>
    <td>23 August</td>
    <td>The BBC Third Programmme broadcasts <em>The Old Tune</em>, produced by Barbara Bray, with Jack MacGowran and Patrick Magee. </td>
  </tr>
    <tr>
    <td></td>
    <td>6 September</td>
    <td><em>Vérité-Liberté</em> publishes a <em>Déclaration sur le Droit à l’Insoumission dans la Guerre d’Algérie</em> signed by 121 writers and artists; it becomes known as the Manifeste des 121.</td>
  </tr>
  <tr>
    <td></td>
    <td>19 September</td>
    <td>Pinget’s <em>La Manivelle</em> and SB’s English text, <em>The Old Tune</em>, Editions de Minuit (copyright registered).</td>
  </tr>
  <tr>
    <td></td>
    <td>20 September and 28 September</td>
    <td>SB works on translation of “L’Expulsé” with Richard Seaver, in Paris.</td>
  </tr>
  <tr>
    <td></td>
    <td>30 September</td>
    <td>Jérôme Lindon arrested.</td>
  </tr>
  <tr>
    <td></td>
    <td>7 October</td>
    <td>A letter condemning the “apologists of desertion and disobedience” and defending the army appears in <em>Le Figaro</em> with 185 signatories.</td>
  </tr>
  <tr>
    <td></td>
    <td>by 19 October</td>
    <td>Has begun to move into his new apartment at 38 Boulevard Saint-Jacques, Paris 14.</td>
  </tr>
  <tr>
    <td></td>
    <td>4 November</td>
    <td>De Gaulle outlines his conception of the “Algerian Republic.”</td>
  </tr>
  <tr>
    <td></td>
    <td>7 November</td>
    <td>John F. Kennedy is elected President of the United States.</td>
  </tr>
  <tr>
    <td></td>
    <td>16 November</td>
    <td>SB views <em>On the Bowery</em> directed by Lionel Rogosin. </td>
  </tr>
  <tr>
    <td><strong>1961</strong></td>
    <td>1 January</td>
    <td>With A. J. Leventhal, SB attends Max Frisch’s <em>Biedermann et les incendiaires</em>, Théâtre de Lutèce, directed by Jean-Marie Serreau.</td>
  </tr>
  <tr>
    <td></td>
    <td>before 7 January</td>
    <td>Meeting with Sylvia Beach and other authors who contributed to <em>Our Exagmination</em> (1929) to receive lettered copies and limited first edition. </td>
  </tr>
  <tr>
    <td></td>
    <td>8 January</td>
    <td>The French proposal for Algerian self-determination receives 75 percent of the votes in a referendum.</td>
  </tr>
  <tr>
    <td></td>
    <td>After 8 January</td>
    <td><em>Comment c’est</em> published by Editions de Minuit. </td>
  </tr>
  <tr>
    <td></td>
    <td>9 January</td>
    <td>Opening of Henri Hayden’s exhibition at Waddington Gallery, London.</td>
  </tr>
  <tr>
    <td></td>
    <td>11 January</td>
    <td>SB’s first meeting with Harold Pinter.</td>
  </tr>
  <tr>
    <td></td>
    <td>16 January</td>
    <td>SB dates completion of a draft of <em>Happy Days</em>. Begins revision (dated 16 January - 2 February 1961).</td>
  </tr>
  <tr>
    <td></td>
    <td>29 January</td>
    <td>Attends Pinter’s <em>Le Gardien</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>13 February</td>
    <td>Attends concert performance of Mihalovici’s opera <em>Krapp</em> at the Théâtre de Chaillot.</td>
  </tr>
  <tr>
    <td></td>
    <td>25 February</td>
    <td>Attends dress rehearsal of Mihalovici’s opera <em>Krapp</em> in Bielefeld, Germany. </td>
  </tr>
  <tr>
    <td></td>
    <td>28 February</td>
    <td>Attends Suhrkamp evening in Frankfurt.</td>
  </tr>
  <tr>
    <td></td>
    <td>4 March</td>
    <td>Returns to Paris, driving with the Tophovens, having visited Amsterdam, Delft, and Haarlem.</td>
  </tr>
  <tr>
    <td></td>
    <td>8-25 March</td>
    <td>Resident in Folkestone prior to his marriage to Suzanne Deschevaux-Dumesnil. </td>
  </tr>
  <tr>
    <td></td>
    <td>25 March</td>
    <td>SB and Suzanne marry in the Folkestone Register Office, and return to Paris.</td>
  </tr>
  <tr>
    <td></td>
    <td>3 April</td>
    <td>WNTA TV (New York) broadcasts <em>Waiting for Godot</em> directed by Alan Schneider.</td>
  </tr>
  <tr>
    <td></td>
    <td>10 April to 5 May</td>
    <td>SB manages rehearsals of <em>En attendant Godot</em> in Blin’s absence in London. </td>
  </tr>
  <tr>
    <td></td>
    <td>11 April</td>
    <td>Trial of Adolf Eichmann begins in Jerusalem.</td>
  </tr>
  <tr>
    <td></td>
    <td>12 April</td>
    <td>Yuri Gagarin, aboard the Soviet satellite <em>Vostok 1</em>, becomes the first human in outer space.</td>
  </tr>
  <tr>
    <td></td>
    <td>17-20 April</td>
    <td>Bay of Pigs “invasion” of Cuba by US.</td>
  </tr>
  <tr>
    <td></td>
    <td>21 April</td>
    <td>Attempted coup, in Algiers, by Generals Challe, Salan, Jouhaud, and Zeller, against De Gaulle’s policy of self-determination for Algeria.</td>
  </tr>
  <tr>
    <td></td>
    <td>1 May</td>
    <td>Cuba declares itself a Democratic Socialist Republic.</td>
  </tr>
  <tr>
    <td></td>
    <td>3 May</td>
    <td>Opening of <em>En attendant Godot</em>, Théâtre de l’Odéon. </td>
  </tr>
  <tr>
    <td></td>
    <td>4 May</td>
    <td>SB awarded the first Prix International des Editeurs, (also known later as the Prix Formentor, and the Prix International de Littérature) shared with Jorge Luis Borges; SB does not attend the ceremony.</td>
  </tr>
  <tr>
    <td></td>
    <td>by 28 May</td>
    <td>Barbara Bray and her daughters have moved to Paris.</td>
  </tr>
  <tr>
    <td></td>
    <td>16 - 30 June</td>
    <td>SB in Surrey with Sheila and Donald Page until 22 or 23 June, then in London.</td>
  </tr>
  <tr>
    <td></td>
    <td>23 June</td>
    <td>Attends an England vs. Australia Test Match at Lord’s, London, with Donald Page and cousin Molly Roe.</td>
  </tr>
  <tr>
    <td></td>
    <td>26 June</td>
    <td>BBC TV broadcasts <em>Waiting for Godot</em> directed by Donald McWhinnie.</td>
  </tr>
  <tr>
    <td></td>
    <td>28 June</td>
    <td>SB attends Glyndebourne performance of Donizetti’s <em>L’Elisir d’amore</em>. </td>
  </tr>
  <tr>
    <td></td>
    <td>3 - 4 July</td>
    <td>The Bielefeld production of Mihalovici’s opera of <em>Krapp</em> performed as part of the Théâtre des Nations, Paris.</td>
  </tr>
  <tr>
    <td></td>
    <td>5 July</td>
    <td>SB attends John Osborne’s <em>Luther</em> performed as part of the Théâtre des Nations, Paris.</td>
  </tr>
  <tr>
    <td></td>
    <td>7 July</td>
    <td>Finds his Ussy cottage has been broken into during his absence.</td>
  </tr>
  <tr>
    <td></td>
    <td>15 July</td>
    <td>Begins English translation of <em>Comment c’est</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>11-22 August</td>
    <td>Increasingly frequent OAS attacks in many areas of France.</td>
  </tr>
  <tr>
    <td></td>
    <td>13 August</td>
    <td>The German Democratic Republic (GDR) begins construction of the Berlin Wall. </td>
  </tr>
  <tr>
    <td></td>
    <td>20-23 August</td>
    <td>SB in Etretat.</td>
  </tr>
  <tr>
    <td></td>
    <td>1 - 11 September</td>
    <td>SB in England.</td>
  </tr>
  <tr>
    <td></td>
    <td>8 September</td>
    <td>Failed attempt on the life of General de Gaulle.</td>
  </tr>
  <tr>
    <td></td>
    <td>17 September</td>
    <td>World premiere of <em>Happy Days</em> at the Cherry Lane Theatre, New York, directed by Alan Schneider.</td>
  </tr>
  <tr>
    <td></td>
    <td>24 October</td>
    <td>Opening of Bram van Velde’s retrospective, Knoedler Gallery, Paris.</td>
  </tr>
  <tr>
    <td></td>
    <td>20-22 November</td>
    <td>SB writes a draft of <em>Words and Music</em>, planned for music by John Beckett and presentation on the BBC.</td>
  </tr>
  <tr>
    <td></td>
    <td>by 10 December</td>
    <td>SB’s <em>Poems in English</em> published by John Calder. </td>
  </tr>
  <tr>
    <td></td>
    <td>13 December</td>
    <td>SB sends petition to John Calder and Harold Hobson for signatures to protest against the trial of Jérôme Lindon for his publication of <em>Le Déserteur</em> and for his anti-torture position on Algeria. </td>
  </tr>
  <tr>
    <td><strong>1962</strong></td>
    <td>12 January</td>
    <td>SB in Ussy to complete draft translation of <em>Comment c’est</em> (<em>How It Is</em>). </td>
  </tr>
  <tr>
    <td></td>
    <td>8 February</td>
    <td>Demonstration against the OAS at the Charonne Métro Station provokes police response that ends in death of nine persons; this triggers a general strike in Paris on 13 February in Paris.</td>
  </tr>
  <tr>
    <td></td>
    <td>11 February</td>
    <td>Jean-Jacques Mayoux’s home is bombed.</td>
  </tr>
  <tr>
    <td></td>
    <td>20 February</td>
    <td>Bram van Velde’s first New York exhibition opens, Knoedler Gallery.</td>
  </tr>
  <tr>
    <td></td>
    <td>18 March</td>
    <td>With the signing of the Evian Accords, a ceasefire takes effect in Algeria on 19 March.</td>
  </tr>
  <tr>
    <td></td>
    <td>3 April</td>
    <td>With Roger Blin, SB attends Mary Manning Howe’s play <em>The Voice of Shem</em> in the Gate Theatre production as part of the Théâtre des Nations, Paris. </td>
  </tr>
  <tr>
    <td></td>
    <td>5 May</td>
    <td>Attends Henri Hayden vernissage, Galerie Suillerot. </td>
  </tr>
  <tr>
    <td></td>
    <td>8 May</td>
    <td>Attends vernissage of Joan Mitchell double show, Galerie Jacques Dubourg and Galerie Lawrence, Paris. </td>
  </tr>
  <tr>
    <td></td>
    <td>before 15 May</td>
    <td>Has begun work on a play for three faces and lights (ultimately, <em>Play</em>).</td>
  </tr>
  <tr>
    <td></td>
    <td>16 May</td>
    <td>Lunches with the Stravinskys in Paris.</td>
  </tr>
  <tr>
    <td></td>
    <td>22 May</td>
    <td>The BBC Third Programme broadcasts <em>Endgame</em>, directed by Alan Gibson.</td>
  </tr>
  <tr>
    <td></td>
    <td>15 June</td>
    <td>Faber and Faber publish <em>Happy Days</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>17 June</td>
    <td>Agreement signed between the Algerian FLN (National Liberation Front) and the OAS effectively ends the Algerian war.</td>
  </tr>
  <tr>
    <td></td>
    <td>3 July</td>
    <td>After the approval of the Evian Accords by the electorate of Algeria, De Gaulle pronounces Algeria an independent country.</td>
  </tr>
  <tr>
    <td></td>
    <td>19 July</td>
    <td>SB finishes draft of new play (<em>Play</em>).</td>
  </tr>
  <tr>
    <td></td>
    <td>5 August</td>
    <td>Attends Pinget double bill of <em>La Manivelle</em> and <em>Architruc</em> at the Comédie de Paris. </td>
  </tr>
  <tr>
    <td></td>
    <td>7 - 25 August</td>
    <td>Holidays with Suzanne in Kitzbühel. Returns to Paris on 25 August. </td>
  </tr>
  <tr>
    <td></td>
    <td>22 August </td>
    <td>Second attempt on the life of General de Gaulle.</td>
  </tr>
  <tr>
    <td></td>
    <td>5 September</td>
    <td>De Gaulle dissolves the French National Assembly, now allowing the President to be directly elected by the people.</td>
  </tr>
  <tr>
    <td></td>
    <td>21 September</td>
    <td>SB sends complete manuscripts of <em>Cascando</em> to Herbert Myron for deposit in the Harvard University Theatre Collection.</td>
  </tr>
  <tr>
    <td></td>
    <td>7 October</td>
    <td>Arrives in London to begin rehearsals of <em>Happy Days</em> on 8 October.</td>
  </tr>
  <tr>
    <td></td>
    <td>13 October</td>
    <td>Attends Jack McGowran’s run-through of his one-man Beckett show, <em>End of the Day</em>.  The BBC Third Programme broadcasts <em>Words and Music</em>. </td>
  </tr>
  <tr>
    <td></td>
    <td>15 October</td>
    <td>Start of the Cuban missile crisis.</td>
  </tr>
  <tr>
    <td></td>
    <td>26 October</td>
    <td>SB attends recital by Dietrich Fischer-Dieskau singing Hugo Wolf songs, Royal Festival Hall. </td>
  </tr>
  <tr>
    <td></td>
    <td>26-29 October</td>
    <td>Spends the weekend at Sheila and Donald Page’s home in Surrey.</td>
  </tr>
  <tr>
    <td></td>
    <td>1 November</td>
    <td>London opening of <em>Happy Days</em> at the Royal Court Theatre. SB returns to Paris. SB grants George Devine and the Royal Court Theatre first option on production of his future work in London.</td>
  </tr>
  <tr>
    <td></td>
    <td>3 November</td>
    <td>Consults an eye specialist in Berne.</td>
  </tr>
  <tr>
    <td></td>
    <td>13 November</td>
    <td>The BBC Third Programme broadcasts <em>Words and Music</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>19 November</td>
    <td>Henri Hayden taken ill and hospitalized in London,</td>
  </tr>
  <tr>
    <td></td>
    <td>before 27 December</td>
    <td>SB attends Ionesco’s <em>Le Roi se meurt</em> with George Devine, Jocelyn Herbert, and her daughter Jenny. </td>
  </tr>
  <tr>
    <td></td>
    <td>27 December</td>
    <td>Attends with Robert Pinget, Roland Dubillard’s <em>La Maison d’os</em>.</td>
  </tr>
  <tr>
    <td><strong>1963</strong></td>
    <td>4 January</td>
    <td>SB attends party in honor of Pinget at the home of the Lindons.</td>
  </tr>
  <tr>
    <td></td>
    <td>25 January</td>
    <td><em>Tous ceux qui tombent</em> broadcast on French Television with an introduction by Georges Belmont.</td>
  </tr>
  <tr>
    <td></td>
    <td>25 February</td>
    <td>SB accepts Barney Rosset’s commission to write a film. </td>
  </tr>
  <tr>
    <td></td>
    <td>20 March</td>
    <td>Grove Press publish <em>Poems in English</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>22 March</td>
    <td>SB attends Ramón Valle-Inclán’s play <em>Divines paroles</em> at the Théâtre de l’Odéon, directed by Roger Blin.</td>
  </tr>
  <tr>
    <td></td>
    <td>27 March</td>
    <td>Jean-Jacques Mayoux speaks on SB’s work on France III radio.</td>
  </tr>
  <tr>
    <td></td>
    <td>5 April</td>
    <td>SB begins a manuscript notebook of <em>Film</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>13 April</td>
    <td>Completes first draft of <em>Film</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>week of 15 April</td>
    <td>Works with Jean-Marie Serreau on <em>Comédie</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>10 May</td>
    <td>Attends <em>King Lear</em> directed by Peter Brook at the Théâtre Sarah-Bernhardt.</td>
  </tr>
  <tr>
    <td></td>
    <td>13 May</td>
    <td>Agrees to an embargo against performance of his plays before segregated audiences in South Africa.</td>
  </tr>
  <tr>
    <td></td>
    <td>16 May - 6 June</td>
    <td>Attends rehearsals and recordings of <em>Cascando</em>, RTF studios.</td>
  </tr>
  <tr>
    <td></td>
    <td>30 May</td>
    <td>With Alan Schneider, attends two working sessions of <em>Spiel</em> in Ulm, Germany. </td>
  </tr>
  <tr>
    <td></td>
    <td>3 June</td>
    <td>Death of Pope John XXIII.</td>
  </tr>
  <tr>
    <td></td>
    <td>14 June</td>
    <td>Premiere of <em>Spiel</em> at the Ulmer-Theater, Ulm-Donau, directed by Deryk Mendel. </td>
  </tr>
  <tr>
    <td></td>
    <td>before 17 June</td>
    <td>SB rehearses <em>Comédie</em> with Madeleine Renaud and Roger Blin.</td>
  </tr>
  <tr>
    <td></td>
    <td>17 June - 16 July</td>
    <td>Holidays with Suzanne in Zell-am-See, Austria, leaving on 15 July via Innsbruck to arrive in Paris on 16 July.</td>
  </tr>
  <tr>
    <td></td>
    <td>21 June</td>
    <td>Election of Cardinal Montini as Pope Paul VI.</td>
  </tr>
  <tr>
    <td></td>
    <td>4 July</td>
    <td>SB begins to translate “Texte pour rien 13.”</td>
  </tr>
  <tr>
    <td></td>
    <td>29 July</td>
    <td>A. J. Leventhal moves from Dublin to Paris.</td>
  </tr>
  <tr>
    <td></td>
    <td>before 20 August</td>
    <td>SB writes a brief tribute to Richard Aldington.</td>
  </tr>
  <tr>
    <td></td>
    <td>24 August</td>
    <td>Begins a play for a lit face (“Kilcool”).</td>
  </tr>
  <tr>
    <td></td>
    <td>27 September</td>
    <td><em>Oh les beaux jours</em> has its premiere at the Teatro del Ridotto, directed by Roger Blin, with Madeleine Renaud, as part of the Venice Festival. </td>
  </tr>
  <tr>
    <td></td>
    <td>30 September</td>
    <td><em>Happy Days</em> opens at the Eblana Theatre, Dublin, directed by John Beary, with Marie Kean. </td>
  </tr>
  <tr>
    <td></td>
    <td>13 October</td>
    <td>RTF broadcasts <em>Cascando</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>15 November</td>
    <td>SB asks Faber and Faber to publish the unexpurgated version of <em>Waiting for Godot</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>22 November</td>
    <td>Assassination of John F. Kennedy. Lyndon B. Johnson becomes President of the United States.</td>
  </tr>
  <tr>
    <td><strong>1964</strong></td>
    <td>4 January</td>
    <td><em>Play</em> opens at the Cherry Lane Theatre, New York, directed by Alan Schneider, on a double bill with Pinter’s <em>The Lover</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>16 January - 5 February</td>
    <td>SB in London for rehearsals of <em>Endgame</em> with Patrick Magee and Jack MacGowran. </td>
  </tr>
  <tr>
    <td></td>
    <td>25 January</td>
    <td>Attends playback of <em>Cascando</em>, as recorded in Stuttgart. </td>
  </tr>
  <tr>
    <td></td>
    <td>28 January</td>
    <td>Attends the opening night of Max Frisch’s play <em>Andorra</em> at the Old Vic.</td>
  </tr>
  <tr>
    <td></td>
    <td>29 January</td>
    <td>Attends <em>Theatre of Cruelty</em> productions organized by Charles Marowitz and Peter Brook, at LAMDA. </td>
  </tr>
  <tr>
    <td></td>
    <td>4 February</td>
    <td>Attends dress rehearsal of <em>Who’s Afraid of Virginia Woolf</em>, directed by Alan Schneider, Piccadilly Theatre.</td>
  </tr>
  <tr>
    <td></td>
    <td>17 February</td>
    <td><em>Endgame</em> with MacGowran and Magee opens at the Studio des Champs-Elysées. </td>
  </tr>
  <tr>
    <td></td>
    <td>24 February</td>
    <td>SB declines Goddard Lieberson’s invitation to contribute to a Homage for John F. Kennedy. </td>
  </tr>
  <tr>
    <td></td>
    <td>14 March</td>
    <td>In London for rehearsals of <em>Play</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>21-22 March</td>
    <td>Spends weekend with George Devine and Jocelyn Herbert at their farm, “Andrews,” in Hampshire.</td>
  </tr>
  <tr>
    <td></td>
    <td>7 April</td>
    <td><em>Play</em> opens at the National Theatre, Old Vic, on a double bill with Sophocles’ <em>Philoctetes</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>8 April</td>
    <td>SB returns from London to Paris.</td>
  </tr>
  <tr>
    <td></td>
    <td>10 April</td>
    <td>Writes tribute to Brendan Behan for <em>Theater heute</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>14 April</td>
    <td>Resumes rehearsals for <em>Comédie</em>, directed by Serreau.</td>
  </tr>
  <tr>
    <td></td>
    <td>21 April</td>
    <td>Gisèle Freund photographs SB. </td>
  </tr>
  <tr>
    <td></td>
    <td>30 April</td>
    <td>John Calder (Publisher) Ltd. publish <em>How It Is</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>20 May</td>
    <td>Henri Cartier-Bresson photographs SB in Paris. </td>
  </tr>
  <tr>
    <td></td>
    <td>June</td>
    <td><em>Les Lettres Nouvelles</em> publish <em>Comédie</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>11 June</td>
    <td><em>Comédie</em> opens at the Pavillon de Marsan, as part of the Estival 1964, directed by Jean-Marie Serreau assisted by SB.</td>
  </tr>
  <tr>
    <td></td>
    <td>12 June</td>
    <td>Nelson Mandela sentenced to life imprisonment in South Africa.</td>
  </tr>
  <tr>
    <td></td>
    <td>29 June</td>
    <td>SB in London to assist director Donald McWhinnie with rehearsals of <em>Endgame</em> for the Aldwych Theatre.</td>
  </tr>
  <tr>
    <td></td>
    <td>9 July</td>
    <td><em>Endgame</em> opens at the Aldwych produced by the Royal Shakespeare Company. </td>
  </tr>
  <tr>
    <td></td>
    <td>10 July</td>
    <td>SB flies from London to New York for work on <em>Film</em>.
<em>Murphy</em>, published by John Calder (Publisher) Ltd., is banned in Ireland.</td>
  </tr>
  <tr>
    <td></td>
    <td>11-12 July</td>
    <td>SB stays at Barney Rosset’s home in East Hampton, works with Alan Schneider and cameraman Boris Kaufman on plans for <em>Film</em>. </td>
  </tr>
  <tr>
    <td></td>
    <td>20 July</td>
    <td>Shooting of <em>Film</em> begins on location in New York.</td>
  </tr>
  <tr>
    <td></td>
    <td>23 July</td>
    <td>SB attends <em>Dutchman</em> by LeRoi Jones (later Amiri Baraka) and <em>The American Dream</em> by Edward Albee at Cherry Lane Theatre.</td>
  </tr>
  <tr>
    <td></td>
    <td>30 July</td>
    <td>Final day of shooting of <em>Film</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>1 and 2 August</td>
    <td>SB works with Sidney Meyers, the editor of <em>Film</em>.</td>
  </tr>
  <tr>
    <td></td>
    <td>6 August</td>
    <td>Flies to Paris.</td>
  </tr>
  <tr>
    <td></td>
    <td>15 August</td>
    <td>Death of Leslie Daiken, in London.</td>
  </tr>
  <tr>
    <td></td>
    <td>by 21 August</td>
    <td>SB has begun to write first of four pieces which will later be called “Faux départs.” </td>
  </tr>
  <tr>
    <td></td>
    <td>18 September</td>
    <td>Death of Sean O’Casey.</td>
  </tr>
  <tr>
    <td></td>
    <td>6 October</td>
    <td>BBC Third Programme broadcasts <em>Cascando</em>, with Patrick Magee and Denys Hawthorne.</td>
  </tr>
  <tr>
    <td></td>
    <td>20 October</td>
    <td>SB halts publication of <em>More Pricks Than Kicks</em> by Grove Press and Calder.</td>
  </tr>
  <tr>
    <td></td>
    <td>9 December</td>
    <td>SB in London for rehearsals of <em>Waiting for Godot</em>, directed by Anthony Page at the Royal Court Theatre.</td>
  </tr>
  <tr>
    <td></td>
    <td>10 December</td>
    <td>Jean-Paul Sartre refuses the Nobel Prize in Literature.</td>
  </tr>
  <tr>
    <td></td>
    <td>30 December</td>
    <td><em>Waiting for Godot</em> opens at the Royal Court Theatre with Patrick Magee and Nicol Williamson. </td>
  </tr>
  <tr>
    <td></td>
    <td>31 December</td>
    <td>SB returns to Paris from London. </td>
  </tr>
</table>

{% endblock %}