{% extends "base.html" %}
{% block content %}
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container">
<div class="centering text-center">

        <h1>{{ object.thing|safe }}</h1>

<div class="container">

  <table class="table table-bordered">
     <tbody>
     <tr>
        <td><b>Title:</b></td>
        <td>{{ object.title|safe }}</td>
     </tr>
    <tr>
    	<td><b>Place/date:</b> </td>
    	<td>{{ object.place_date }}</div></td>
    </tr>
    <tr>
    	<td><b>Attends with:</b></td>
    	<td>{{object.attends_with}}</td>
    </tr>
    </tbody>
</table>
<h2 style="font-size:1.75em;">Mentioned in Letters</h2>
    <table id="example-table" class="table">
            <thead><th>Sent Date (DD-MM-YYYY)</th>
                <th>Recipient(s)</th>
                <th>Repository</th></thead>
                <tbody>
        {% for item in object.manyattendances.all %}
        <tr>
            <td><a href="{% url 'lettering:lettersdetail' item.id %}">{{ item.day }}-{{ item.month }}-19{{ item.year }}
            </a></td>
            <td>{{item.reg_recipient}}</td>
            <td>{{item.repository}}</td>
        </tr>  
            {% endfor %}</td>
    </tbody>
</table>

</div>

</div>
</div>
<script>
  // initialize datatables
  $.noConflict();
  $(document).ready(function() {
    $('#example-table').DataTable({
      // "dom": '<"top"if>rt<"bottom"lp><"clear">',
      "oLanguage": {
        "sSearch": "Filter within current results:"
      }
    });
  });
</script>
{% endblock %}
