{% extends "base.html" %}
{% block content %}
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container">
<div class="centering text-center">

        <h1>{{ object.name }}</h1>

<div class="container">

  <table class="table table-bordered">
     <tbody>
    <tr>
      <td><b>Description:</b> </td>
      <td><div align="left">{{ object.description|safe }}</div></td>
    </tr>
    <tr>
      <td><b>Related Letters - Mentioned: </b></td>
      <td>{% for item2 in object.manyorganizations.all %} 
            {{item.2}}
            <a href="{% url 'lettering:lettersdetail' item2.id %}">{{ item2.day }}-{{ item2.month }}-19{{ item2.year }}
            </a> |   
            {% endfor %}</td>
    </tr>

    </tbody>
</table>
</div>



</div>
</div>
{% endblock %}
