{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head> <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body><div class="container">
<div class="centering text-center">

    <h2>People</h2>

<div class="centering text-left">
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="menu1">People by Name
  <span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">{% for person in object_list %}
    <li><a href="{% url 'persons:detailperson' pk=person.id %}">{{ person.last_name }}, {{ person.first_name }}
    </a></li>{% endfor %}
    </ul>
    </div>
  </div>   
<br/><br/>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-2">First Name</th>
        <th class="col-md-2">Last Name</th>
        <th class="col-md-3">Letters Received</th>
        <th class="col-md-3">Letters Mentioned</th>
      </tr>
    </thead>
    <tbody> {% for person in object_list %}
      <tr>
        <td>  
      <a href="{% url 'persons:detailperson' pk=person.id %}" class="list-group-item">{{ person.first_name }} </td>
      <td>{{ person.last_name }}    </td>
      <td><b>Recipient-</b>{% for item in person.recipients.all %} {{ item.year }} |  {% empty %}  No letters linked yet.{% endfor %} </td>
      <td><b>Mentioned-</b>{% for item in person.manypeople.all %} {{ item.year }} |  {% empty %}  No letters linked yet.{% endfor %} </td>
      </a>    </tr> {% endfor %}
      </tbody>
      </table>
  </div>

 


</div>
</div></body>
</html>

{% endblock %}
