{% extends "base.html" %}
{% block content %}
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container">
<div class="centering text-center">

    <h2>Person Data</h2>

        <h1>{{ object.first_name }}-{{ object.last_name }}-{{ object.gender }}</h1>

<div class="container">

  <table class="table table-bordered">
     <tbody>
       <tr>
        <td class="col-md-3"><b>Field</b></td>
        <td class="col-md-6"><b>Data</b></td>
      </tr>
     <tr>
        <td><b>Birth: </b></td>
        <td>{{ object.date_of_birth }}</td>
     <tr>
        <td><b>Death: </b></td>
        <td>{{ object.date_of_death }}</td>
    <tr>
    	<td><b>Description:</b> </td>
    	<td>{{ object.description }}</td>
    <tr>
    	<td><b>Related Letters as Recipient: </b></td>
    	<td>{% for item in object.recipients.all %} 
            <a href="{% url 'lettering:lettersdetail' item.id %}">{{ item.month }}-{{ item.day }}-{{ item.year }}
            </a> |   
            {% endfor %}</td>
    </tr>
    <tr>
    	<td><b>Related Letters - Mentioned: </b></td>
    	<td>{% for item2 in object.manypeople.all %} 
            <a href="{% url 'lettering:lettersdetail' item2.id %}">{{ item2.month }}-{{ item2.day }}-{{ item2.year }}
            </a> |   
            {% endfor %}</td>
    </tr>
    <tr>
         <td><b>Related Repositories: </b></td>
         <td>{% for item3 in object.manypeople.all %}{% for name3 in item3.repository.all %} 
            <a href="{% url 'geo:repodetail' name3.id %}">
            {{ name3.name }} {{ name3.abb }}</a> |  {% endfor %}
            {% endfor %}
            </td>
    </tr>
    </tbody>
</table>
</div>



</div>
</div>
{% endblock %}
