{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>  
</head>
<body><div class="container">
<div class="centering text-center">

    <h1>People</h1>

<ul style="list-style-type:none;">
<li><a href="{% url 'persons:arikha' %}">Avigdor Arikha</a></li>
<li><a href="{% url 'persons:boyle' %}">Kay Boyle</a></li>
<li><a href="{% url 'persons:bray' %}">Barbara Bray</a></li>
<li><a href="{% url 'persons:devine' %}">George Devine</a></li>
<li><a href="{% url 'persons:harvey' %}">Lawrence Harvey</a></li>
<li><a href="{% url 'persons:hutchinson' %}">Mary Hutchinson</a></li>
<li><a href="{% url 'persons:lieberson' %}">Goddard Lieberson</a></li>
<li><a href="{% url 'persons:megged' %}">Matti Megged</a></li>
<li><a href="{% url 'persons:myron' %}">Herbert Myron</a></li>
<li><a href="{% url 'persons:rosset' %}">Barney Rosset</a><li>
<li><a href="{% url 'persons:schneider' %}">Alan Schneider</a><li>
</ul>
 


</div>
</div></body>
</html>

{% endblock %}
