body {
  background-color: #FFFFF8 !important;
    font-family: "Proxima Nova", et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

#select2 {
  width: 100%;
}
.selectpicker {
  width: 100%;
}
.intro {
  font-size: 1.6rem;
}
.inline {
  display: inline-block;
  margin-right: 1em;
}

.select2-container .select2-selection--single {
  height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0 !important;
}

.no-padding {
  padding: 15px 0;
}

.result-summary {
  margin: 2rem 0;
  font-size: 1.5rem;
  background: #fff3cd;
}

.navigation-button {
  margin: 2.5rem 0;
}

.emphasis {
  font-weight: 600;
  /*background-color: #fff3cd;*/
}

.sf-sections {
  margin: 2rem -15px;
}

.dataTables_info, .dataTables_length {
  float: left;
}

.btn {
  margin-right: 1rem;
}
.page-sections {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.section-title {
  font-size: 2rem;
  /*font-weight: 600;*/
  /*margin-bottom: 1rem;*/
}

.search-filter-desc {
  margin: 0 1rem ;
  display: inline-block;
  /*margin-bottom: 1rem;*/
}

.page-title {
  font-size: 4rem;
  font-weight: 600;
}

#banner-image {
    width: 20%;
}

div.page-header {
    text-align:center;
    padding:0px 0px 0px;
    margin: 0 auto;
}

div.page-header img{
    margin: 0 auto;
}

div.page-header {
    /* background-color: #ebf2f7; */
    background-color: #639caf;
}

div.page-header div.container-fluid {
      padding:0px 0px 0px;
}

ul.table-list {
  list-style-type: none
  margin:0;
}

div.person_profile {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}


footer {
  margin: 30px 15px;
}
