div.header h1 { font-family: "Times", "Times New Roman", "Georgia", serif;
           font-size: 40pt;
           margin: -1px;
           line-height:120%;}

div.header h2 { font-family: "Times", "Times New Roman", "Georgia", serif;
           font-size: 28pt;
           margin: -4px;
           line-height:120%;}
 
div.page-header {
    text-align:center;
    padding:5px 5px 5px;
    margin: 0 auto;
}

div.page-header img{
    margin: 0 auto;  
}

div.page-header {
    /* background-color: #ebf2f7; */
    background-color: #526e7a;
}