body {
  background-color: #FFFFF8 !important;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}


 
div.page-header {
    text-align:center;
    padding:0px 0px 0px;
    margin: 0 auto;
}

div.page-header img{
    margin: 0 auto;  
}

div.page-header {
    /* background-color: #ebf2f7; */
    background-color: #639caf;
}

div.page-header div.container-fluid {
      padding:0px 0px 0px;
}

ul.table-list {
  list-style-type: none
  margin:0;
}

div.person_profile {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.letter-list {
  background-color: #FFFFF8; 
}

.list-group-item {
  background-color: #FFFFF8;
  border-color: #639caf;
}