{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="centering text-center">

    <h2>Respositories</h2>

        


  <table class="table table-bordered sortable-theme-bootstrap" data-sortable>
    <thead>
      <tr>
        <th>Name</th>
        <th>Abbreviation</th>
        </tr>
        </thead>
        <tbody>{% for Repository in repository_list %}
        <tr>
        <td>
      <a href="{% url 'geo:repodetail' pk=Repository.id %}" class="list-group-item">{{ Repository.name }}
      </a></td>
      <td>{{ Repository.abb }}</td>
      </tr>{% endfor %}
      </tbody>
      </table>
  </div>

      

</div>
</div>
{% endblock %}
