{% extends "base.html" %}

{% block content %}
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container">
<div class="centering text-center">

    <h2>Respositories</h2>

        



    <div class="list-group">{% for Repository in repository_list %}
      <a href="{% url 'geo:repodetail' pk=Repository.id %}" class="list-group-item">{{ Repository.name }}
      </a>{% endfor %}
  </div>

      

</div>
</div>
{% endblock %}
