{% extends "base.html" %}
{% block content %}
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container">
<div class="centering text-center">

    <h2>Repository Data</h2>

        <h1>Name: {{ object.name }} <br/>Abbreviation: {{ object.abb }} </h1>
        <h4>Description and Storage: {{ object.descriptive_information }}-{{ object.storage_information }}</h4>

         <p>
         <br/>Related Letters: 
            {% for item in object.placeofkeeping.all %} 
            <a href="{% url 'lettering:lettersdetail' item.id %}">{{ item.month }}-{{ item.day }}-{{ item.year }}
            </a> |   {% empty %}  No letters entered yet.
            {% endfor %}
<br/><br/><br/>
                  <a href="{{ object.URL }}">{{ object.name }}
      </a>
      </p>


</div>
</div>
{% endblock %}
