{% extends "base.html" %}
{% block content %}
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container">
<div class="centering text-center">

    <h2>Repository Data</h2>

        <h1>Name: {{ object.name }} <br/>Abbreviation: {{ object.abb }} </h1>
        

<div class="container">

  <table class="table table-bordered">
     <tbody>
       <tr>
        <td class="col-md-3"><b>Field</b></td>
        <td class="col-md-6"><b>Data</b></td>
      </tr>
	<tr>
		<td><b>Description and Storage: </b></td>
		<td>{% if object.descriptive_information %}{{ object.descriptive_information }}{% else %} No description data entered{% endif %}-{% if object.storage_information %}{{ object.storage_information }}{% else %}No storage data entered.{% endif %}</td>
	</tr>
     <tr>
        <td><b>Related Letters: </b></td>
        <td>{% for item in object.placeofkeeping.all %} 
            <a href="{% url 'lettering:lettersdetail' item.id %}">{{ item.month }}-{{ item.day }}-{{ item.year }}
            </a> |   {% empty %}  No letters entered yet.
            {% endfor %}</td>
    </tr>
    <tr>{% if object.URL %}
    	<td><b>Finding Aid:</b></td>
    	<td>  <a href="{{ object.URL }}">{{ object.name }}
      </a></td>{% endif %}
      </tr>
      </tbody>
      </table>
      </div>


</div>
</div>
{% endblock %}
