{% extends "base.html" %}
{% block content %}
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container">
<div class="centering text-center">

        <h1>{{ object.title|safe }}</h1>

<div class="container">

  <table class="table table-bordered">
     <tbody>
     <tr>
        <td><b>Author(s):</b></td>
        <td>{{ object.authors }}</td>
     </tr>
    <tr>
    	<td><b>Notes:</b> </td>
    	<td>{{ object.notes }}</div></td>
    </tr>
    </tr>
    <tr>
        <td><b>Related Letters:</b></td>
        <td>{% for item in object.manywritings.all %}
            <a href="{% url 'lettering:lettersdetail' item.id %}">{{ item.day }}-{{ item.month }}-19{{ item.year }}
            </a> |   
            {% endfor %}</td>
    </tr>

    </tbody>
</table>
</div>



</div>
</div>
{% endblock %}
