{% extends "base.html" %} {% block content %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<h1>Search Beckett Letters</h1>
<article class="intro">
  The Letters of Samuel Beckett archive houses the transcriptions and translations of every known letter penned by the Irish writer Samuel Beckett. This project was born out of a desire to make the metadata and content of these letters accessible to researchers
  and to the wider public. You can browse all letters or use the below search filter to locate letters relevant to your research.
</article>

<section class="page-sections">
  <form method="GET" action="/letters/search/" id="letter-search-form">
  <div class="col-md-6 no-padding">
    <select name="q" id="select2"></select>
  </div>

  <div class="col-md-6 no-padding">
    <div class="search-filter-desc"> in search field </div>
    <select name="field" form="letter-search-form" id="select2-search-field" class="selectpicker">
      <option value="recipients" selected="selected">Letter recipients</option>
      <option value="place_sent">Place sent</option>
      <option value="repository">Repository</option>
      <option value="people">People mentioned</option>
    </select>
  </div>
  <input id="search-keyword" form="letter-search-form" name="q" value="" type="hidden">
  </form>

  <div class="col-md-12 no-padding">
    <button class="btn btn-primary search-btn disabled" type="submit" form="letter-search-form" id="btn-search">Search</button>
    <button type="button" class="btn btn-secondary" id="btn-reset">Reset</button>
    <div class="inline"> or </div>
    <a href="/letters/search/"><button type="button" class="btn btn-warning">Browse all letters</button></a>
  </div>

</section>


<script>
  // choose a search field that is mapped in the db column
  var search_field = $("#select2-search-field").val();

  // on selection change update the query
  $("#select2").change(function() {
    $("#btn-search").removeClass("disabled");
  });

  // on selection change update the query
  $("#select2-search-field").change(function() {
    search_field = $("#select2-search-field").val();
    $("#select2").empty().trigger('change');
    $("#btn-search").addClass("disabled");
    $("#btn-search").addClass("disabled");
  });

  // perform search
  $( "#btn-search" ).click(function(event) {
    event.preventDefault();
    var label = $("#select2").select2('data')[0].label; // get the actual selected keyword
    $("#search-keyword").val(label); // set the value in a hidden input element
    $("#letter-search-form").submit(); // submit the form
  });

  // reset search
  $( "#btn-reset" ).click(function(event) {
    event.preventDefault();
    $("#select2").empty().trigger('change'); // empty out the select2 for keyword
    $("#select2-search-field").val('default'); // reset field dropdown
    $("#select2-search-field").selectpicker("refresh"); // reset field dropdown
    search_field = $("#select2-search-field").val();
    $("#btn-search").addClass("disabled");
  });

  // perform select2 autocomplete search
  $("#select2").select2({
    ajax: {
      url: "/api/search/", // search in the correct category
      dataType: 'json',
      delay: 250,
      data: function(params) {
        return {
          term: params.term, // search term
          field: search_field // search field
        };
      },
      processResults: function(data, params) {
        // parse the results into the format expected by Select2
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data, except to indicate that infinite
        // scrolling can be used
        params.page = params.page || 1;

        return {
          results: data,
          pagination: {
            more: (params.page * 30) < data.total_count
          }
        };
      },
      cache: false,
      ajaxCache: false,
    },
    escapeMarkup: function(markup) {
      return markup;
    }, // let our custom formatter work
    minimumInputLength: 2,
    templateResult: formatRepo, // omitted for brevity, see the source of this page
    templateSelection: formatRepoSelection, // omitted for brevity, see the source of this page
    placeholder: "Enter keyword here to search"
  });

  function formatRepo(repo) {
    if (repo.loading) return repo.text;

    var markup = "<div class='select2-result-repository clearfix'>" +
      "<div class='select2-result-repository__avatar'></div>" +
      "<div class='select2-result-repository__meta'>" +
      "<div class='select2-result-repository__title'>" + repo.label + "<span class='badge pull-right'>" + repo.count + "</span> </div>";

    return markup;
  }

  function formatRepoSelection(repo) {
    return repo.label || repo.text;
  }
</script>

{% endblock %}
