{% extends "base.html" %}
{% block content %}
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container">
<div class="centering text-center">

    <h2>Letter from S. Beckett</h2>

        <h1>{{ object.month }}-{{ object.day }}-{{ object.year }}</h1>

<p><b>Physical Description: </b>{{ object.physical_description }}
<br/><b>Key Terms: </b>{{ object.key_terms|safe }}
  <br/><b>Recipient(s): </b>{% for name in object.recipients.all %} 
<a href="{% url 'persons:detailperson' name.id %}">
{{ name.first_name }} {{ name.last_name }}</a> |  {% endfor %}
  <br/><b>Person(s) Mentioned: </b>{% for name2 in object.people.all %} 
<a href="{% url 'persons:detailperson' name2.id %}">
{{ name2.first_name }} {{ name2.last_name }}</a> |  {% endfor %}
<br/><b>Leaves or Sides: </b>{{ object.leaves_sides }}
  <br/><b>Related Repository: </b> {% for name3 in object.repository.all %} 
<a href="{% url 'geo:repodetail' name3.id %}">
{{ name3.name }} {{ name3.abb }}</a> |  {% endfor %}
</p>


</div>
</div>
{% endblock %}
