{% extends "base.html" %}
{% block content %}
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container">
<div class="centering text-center">

    <h1>Letter from Samuel Beckett</h1>

        <h1>{{ object.day }}-{{ object.month }}-19{{ object.year }}</h1>
<div class="container">

  <table class="table table-bordered">
     <tbody>
        <td><b>Recipient(s): </b></td>
        <td>{{object.recipients_excel|safe}}</td>
      </tr>
           <tr>
        <td><b>Physical Description: </b></td>
        <td>{{ object.physical_description }}</td>
      </tr>
      <tr>
        <td><b>Leaves or Sides: </b></td>
        <td>{{ object.leaves_sides }}</td>
      </tr>
      <tr>
        <td><b>Place Written: </b></td>
        <td>{{ object.place_written }}</td>
      </tr>
            <tr>
        <td><b>Place Sent: </b></td>
        <td>{{ object.place_sent }}</td>
      </tr>
            <tr>
        <td><b>Repositories: </b> </td>
        <td><ul style="list-style-type: none">
          {% for name3 in object.repository.all %} 
<li><a href="{% url 'geo:repodetail' name3.id %}">
{{ name3.name }}</a>{% endfor %}</li></td>
      </tr>
      <tr>
        <td><b>Person(s) Mentioned: </b></td>
        <td><ul style="list-style-type: none">
          {% for name2 in object.people.all %} 
<li><a href="{% url 'persons:detailperson' name2.profile_id %}">
{{ name2.first_name }} {{ name2.last_name }}</a></li>{% endfor %}</ul></td>
      </tr>

    <tr>
        {% if object.places %}    
        <td><b>Place(s) Mentioned: </b></td>
        <td><ul style="list-style-type: none">
          {% for name2 in object.places.all %} 
<li>{{ name2.name }}</a></li>{% endfor %}</ul></td>
{% endif %}
      </tr>

    <tr>
        {% if object.organizations %}    
        <td><b>Organization(s) Mentioned: </b></td>
        <td><ul style="list-style-type: none">
          {% for name2 in object.organizations.all %} 
<li>{{ name2.name }}</a></li>{% endfor %}</ul></td>
{% endif %}
      </tr>


    </tbody>
    </table>
</div>


</div>
</div>
{% endblock %}
