{% extends "base.html" %} {% block content %}

<div class="col-md-12">
  <h1>Letters from Samuel Beckett</h1>

  <table id="example-table" class="table">
    <thead>
      <tr>
        <th>Sent Date (DD-MM-YYYY)</th>
        <th>Recipient(s)</th>
      </tr>
    </thead>
    <tbody>
      {% for Letter in letter_list %}
      <tr>
        <td>
          <a href="{% url 'lettering:lettersdetail' pk=Letter.letter_code %}">Letter sent on {{ Letter.day }}-{{ Letter.month }}-{{ Letter.year }}</a>
        </td>
        <td> to <i>{{ Letter.recipients_excel|safe }}</i></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Initialize datatables -->
  <script>
    $(document).ready(function() {
      $('#example-table').DataTable();
    });
  </script>

  <!-- Older template -->

  <!-- <div class="panel-group browse " id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default letter-list">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-jan_1961" aria-expanded="true" aria-controls="collapse-jan_1961">
        <div class="panel-heading" role="tab" id="jan_1961">
          <h2 class="panel-title">
      January 1961
      </h2>
        </div>
      </a>
      <div id="collapse-jan_1961" class="panel-collapse collapse" role="tabpanel" aria-labelledby="jan_1961">
        <div class="panel-body letter-list">
          <table class="table table-bordered" data-sortable>
            <thead>
              <tr>
                <th>Sent Date (DD-MM-YYYY)</th>
                <th>Recipient(s)</th>
              </tr>
            </thead>
            <tbody>

              {% for Letter in letter_list %} {% if Letter.month == 1 or Letter.month == 0 %}
              <tr>
                <td>
                  <a href="{% url 'lettering:lettersdetail' pk=Letter.letter_code %}" class="list-group-item">Letter sent on {{ Letter.day }}-{{ Letter.month }}-{{ Letter.year }}
        </a></td>
                <td> to <i>{{ Letter.recipients_excel|safe }}</i></td>
              </tr>{% endif %}{% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!--panel-group-browse-->
</div>

{% endblock %}
